### Bibliotecas:

In [1]:
import ftplib
import pandas as pd
import traceback
import logging
import psycopg2
from sqlalchemy import exc, create_engine

### Cargar los datos en un dataframe:

In [ ]:
# Datos del usuario del servidor:
HOST_NAME = "172.17.0.1"
USER_NAME = "xal"
PASSWORD = "xal"

ftp_server = ftplib.FTP(HOST_NAME, USER_NAME, PASSWORD)
filename = "sample.csv"

# Escribir en modo binario:
try:
    with open(filename, "wb") as file:
        # Intentar descargar del servidor:
        ftp_server.retrbinary(f"RETR {filename}", file.write)
    ftp_server.quit()
except Exception as e:
    # Imprimir en caso de error:
    print("Error: ", str(e))
    logging.error(traceback.format_exc())

In [2]:
df = pd.read_csv("sample.csv")
df.head()

,first_name,last_name,company_name,address,city,state,zip,phone1,phone2,email,department
0,James,Butt,"Benton, John B Jr",6649 N Blue Gum St,New Orleans,LA,70116,504-621-8927,504-845-1427,jbutt@gmail.com,Sales
1,James,Butt,"Benton, John B Jr",6649 N Blue Gum St,New Orleans,LA,70116,504-621-8927,504-845-1427,jbutt@gmail.com,Marketing
2,Josephine,Darakjy,"Chanay, Jeffrey A Esq",4 B Blue Ridge Blvd,Brighton,MI,48116,810-292-9388,810-374-9840,josephine_darakjy@darakjy.org,Human Resources
3,Art,Venere,"Chemel, James L Cpa",8 W Cerritos Ave #54,Bridgeport,NJ,8014,856-636-8749,856-264-4130,art@venere.org,Purchasing
4,Lenna,Paprocki,Feltz Printing Service,639 Main St,Anchorage,AK,99501,907-385-4412,907-921-2010,lpaprocki@hotmail.com,Marketing

### Â¿Tiene la estructura correcta?

In [3]:
schema_df = pd.read_csv("schema.csv", sep="|")
schema_df

     column_name    type  nullable
0     first_name  string     False
1      last_name  string     False
2   company_name  string     False
3        address  string     False
4           city  string     False
5          state  string     False
6            zip     int     False
7         phone1  string     False
8         phone2  string      True
9          email  string     False
10    department  string     False

In [4]:
# Â¿Tiene el mismo nÃºmero de campos?
data_len = len(df.columns)
schema_len = len(schema_df)
bandera_validacion = 0

if data_len > schema_len:
    print("El set de datos tiene mÃ¡s columnas que la estructura original.")
    bandera_validacion = 1
    
elif data_len < schema_len:
    print("El set de datos tiene menos columnas que la estructura original.")
    bandera_validacion = 2
else: 
    print("El set de datos coincide con la estructura")
    bandera_validacion = 3

El set de datos coincide con la estructura

In [5]:
# Â¿El header es correcto?
columns = df.columns
schema_columns = schema_df.column_name

for index in range(schema_len):
    if columns[index] != schema_columns[index]:
        raise ValueError(f'Se esperaba nombre de columna {schema_columns[index]}.')

In [6]:
# En este momento solo se validan cadenas y enteros.
if bandera_validacion == 3:
    for row in schema_df.itertuples():
        column_name = row[1]
        column_type = row[2]
        print(column_name, column_type)
        
        if column_type == 'string' and df[column_name].dtypes == 'object':
            print("\tTipo string correcto")
        elif column_type == 'int' and df[column_name].dtypes == 'int64':
            print("\tTipo entero correcto")
        else:
            print(f'\t{column_type} {df[column_name].dtypes}')
            raise ValueError('Error de estructura.')
            # Implementar log de malformed.

first_name string
	Tipo string correcto
last_name string
	Tipo string correcto
company_name string
	Tipo string correcto
address string
	Tipo string correcto
city string
	Tipo string correcto
state string
	Tipo string correcto
zip int
	Tipo entero correcto
phone1 string
	Tipo string correcto
phone2 string
	Tipo string correcto
email string
	Tipo string correcto
department string
	Tipo string correcto

### Crear la base de datos:

In [ ]:
try:
    # Connect to an existing database
    connection = psycopg2.connect(user='xaluser',
                                  password='123',
                                  host='192.168.100.204',
                                  port='5432',
                                  database='xaldatabase')

    cursor = connection.cursor()
    # SQL query:
    create_table_query = '''CREATE TABLE company
          (ID INT PRIMARY KEY     NOT NULL,
          MODEL           TEXT    NOT NULL,
          PRICE         REAL); '''
    # Execute a command: this creates a new table
    cursor.execute(create_table_query)
    connection.commit()
    print("Table created successfully in PostgreSQL ")

except (Exception, Error) as error:
    print("Error while connecting to PostgreSQL", error)
finally:
    if connection:
        cursor.close()
        connection.close()
        print("PostgreSQL connection is closed")

### Insertar en la base de datos:

In [7]:
insert_sql = """INSERT INTO ${TABLE_NAME}
                VALUES(${VALUES_STRING});"""

In [8]:
company_elements = ['company_name','address','city','state','zip']
department_elements = ['department', 'company_name', 'address']
employee_elements = ['first_name', 'last_name', 'phone1', 'phone2', 'email']
department_employee = ['department', 'company_name', 'address', 'email']

In [12]:
engine = create_engine('postgresql+psycopg2://xaluser:123@192.168.0.22:5432/xaldatabase')
connection = engine.connect()
# Insert query base para ejecutar sustituyendo el nombre de la tabla y los valores:
insert_sql = """INSERT INTO ${TABLE_NAME} VALUES(${VALUES_STRING});"""
#Para cada una de las rows en el Dataframe:
for row in df[company_elements].iterrows():
    try:
        # Row es una tupla que contiene el index y la Serie con la informaciÃ³n del row.
        # .values obtiene los valores de una Serie, que resulta un npArray.
        # list convierte el npArray a una lista comÃºn.
        # la funciÃ³n lambda obtiene los valores en cadenas de texto en formato
        #            '{valor}Â´,
        # y los concatena.
        # El [:-1] quita la Ãºltima coma de la cadena.
        values = ''.join(f"'{str(x)}'," for x in list(row[1].values))[:-1]
        actual_insert_sql = insert_sql.replace('${TABLE_NAME}', 'company').replace('${VALUES_STRING}', values)
        print(actual_insert_sql)
        connection.execute(actual_insert_sql)
    except exc.IntegrityError as e:
        print(e,'\n\n')

INSERT INTO company VALUES('Benton, John B Jr','6649 N Blue Gum St','New Orleans','LA','70116');
(psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "company_pkey"
DETAIL:  Key (company_name, address)=(Benton, John B Jr, 6649 N Blue Gum St) already exists.

[SQL: INSERT INTO company VALUES('Benton, John B Jr','6649 N Blue Gum St','New Orleans','LA','70116');]
(Background on this error at: https://sqlalche.me/e/14/gkpj)


INSERT INTO company VALUES('Benton, John B Jr','6649 N Blue Gum St','New Orleans','LA','70116');
(psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "company_pkey"
DETAIL:  Key (company_name, address)=(Benton, John B Jr, 6649 N Blue Gum St) already exists.

[SQL: INSERT INTO company VALUES('Benton, John B Jr','6649 N Blue Gum St','New Orleans','LA','70116');]
(Background on this error at: https://sqlalche.me/e/14/gkpj)


INSERT INTO company VALUES('Chanay, Jeffrey A Esq','4 B Blue Ridge Blvd','Brighton','MI','48116');
(psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "company_pkey"
DETAIL:  Key (company_name, address)=(Chanay, Jeffrey A Esq, 4 B Blue Ridge Blvd) already exists.

[SQL: INSERT INTO company VALUES('Chanay, Jeffrey A Esq','4 B Blue Ridge Blvd','Brighton','MI','48116');]
(Background on this error at: https://sqlalche.me/e/14/gkpj)


INSERT INTO company VALUES('Chemel, James L Cpa','8 W Cerritos Ave #54','Bridgeport','NJ','8014');
(psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "company_pkey"
DETAIL:  Key (company_name, address)=(Chemel, James L Cpa, 8 W Cerritos Ave #54) already exists.

[SQL: INSERT INTO company VALUES('Chemel, James L Cpa','8 W Cerritos Ave #54','Bridgeport','NJ','8014');]
(Background on this error at: https://sqlalche.me/e/14/gkpj)


INSERT INTO company VALUES('Feltz Printing Service','639 Main St','Anchorage','AK','99501');
(psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "company_pkey"
DETAIL:  Key (company_name, address)=(Feltz Printing Service, 639 Main St) already exists.

[SQL: INSERT INTO company VALUES('Feltz Printing Service','639 Main St','Anchorage','AK','99501');]
(Background on this error at: https://sqlalche.me/e/14/gkpj)


INSERT INTO company VALUES('Printing Dimensions','34 Center St','Hamilton','OH','45011');
(psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "company_pkey"
DETAIL:  Key (company_name, address)=(Printing Dimensions, 34 Center St) already exists.

[SQL: INSERT INTO company VALUES('Printing Dimensions','34 Center St','Hamilton','OH','45011');]
(Background on this error at: https://sqlalche.me/e/14/gkpj)


INSERT INTO company VALUES('Chapman, Ross E Esq','3 Mcauley Dr','Ashland','OH','44805');
(psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "company_pkey"
DETAIL:  Key (company_name, address)=(Chapman, Ross E Esq, 3 Mcauley Dr) already exists.

[SQL: INSERT INTO company VALUES('Chapman, Ross E Esq','3 Mcauley Dr','Ashland','OH','44805');]
(Background on this error at: https://sqlalche.me/e/14/gkpj)


INSERT INTO company VALUES('Morlong Associates','7 Eads St','Chicago','IL','60632');
(psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "company_pkey"
DETAIL:  Key (company_name, address)=(Morlong Associates, 7 Eads St) already exists.

[SQL: INSERT INTO company VALUES('Morlong Associates','7 Eads St','Chicago','IL','60632');]
(Background on this error at: https://sqlalche.me/e/14/gkpj)


INSERT INTO company VALUES('Commercial Press','7 W Jackson Blvd','San Jose','CA','95111');
(psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "company_pkey"
DETAIL:  Key (company_name, address)=(Commercial Press, 7 W Jackson Blvd) already exists.

[SQL: INSERT INTO company VALUES('Commercial Press','7 W Jackson Blvd','San Jose','CA','95111');]
(Background on this error at: https://sqlalche.me/e/14/gkpj)


INSERT INTO company VALUES('Truhlar And Truhlar Attys','5 Boston Ave #88','Sioux Falls','SD','57105');
(psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "company_pkey"
DETAIL:  Key (company_name, address)=(Truhlar And Truhlar Attys, 5 Boston Ave #88) already exists.

[SQL: INSERT INTO company VALUES('Truhlar And Truhlar Attys','5 Boston Ave #88','Sioux Falls','SD','57105');]
(Background on this error at: https://sqlalche.me/e/14/gkpj)


INSERT INTO company VALUES('King, Christopher A Esq','228 Runamuck Pl #2808','Baltimore','MD','21224');
(psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "company_pkey"
DETAIL:  Key (company_name, address)=(King, Christopher A Esq, 228 Runamuck Pl #2808) already exists.

[SQL: INSERT INTO company VALUES('King, Christopher A Esq','228 Runamuck Pl #2808','Baltimore','MD','21224');]
(Background on this error at: https://sqlalche.me/e/14/gkpj)


INSERT INTO company VALUES('Dorl, James J Esq','2371 Jerrold Ave','Kulpsville','PA','19443');
(psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "company_pkey"
DETAIL:  Key (company_name, address)=(Dorl, James J Esq, 2371 Jerrold Ave) already exists.

[SQL: INSERT INTO company VALUES('Dorl, James J Esq','2371 Jerrold Ave','Kulpsville','PA','19443');]
(Background on this error at: https://sqlalche.me/e/14/gkpj)


INSERT INTO company VALUES('Rangoni Of Florence','37275 St  Rt 17m M','Middle Island','NY','11953');
(psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "company_pkey"
DETAIL:  Key (company_name, address)=(Rangoni Of Florence, 37275 St  Rt 17m M) already exists.

[SQL: INSERT INTO company VALUES('Rangoni Of Florence','37275 St  Rt 17m M','Middle Island','NY','11953');]
(Background on this error at: https://sqlalche.me/e/14/gkpj)


INSERT INTO company VALUES('Feiner Bros','25 E 75th St #69','Los Angeles','CA','90034');
(psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "company_pkey"
DETAIL:  Key (company_name, address)=(Feiner Bros, 25 E 75th St #69) already exists.

[SQL: INSERT INTO company VALUES('Feiner Bros','25 E 75th St #69','Los Angeles','CA','90034');]
(Background on this error at: https://sqlalche.me/e/14/gkpj)


INSERT INTO company VALUES('Buckley Miller & Wright','98 Connecticut Ave Nw','Chagrin Falls','OH','44023');
(psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "company_pkey"
DETAIL:  Key (company_name, address)=(Buckley Miller & Wright, 98 Connecticut Ave Nw) already exists.

[SQL: INSERT INTO company VALUES('Buckley Miller & Wright','98 Connecticut Ave Nw','Chagrin Falls','OH','44023');]
(Background on this error at: https://sqlalche.me/e/14/gkpj)


INSERT INTO company VALUES('Rousseaux, Michael Esq','56 E Morehead St','Laredo','TX','78045');
(psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "company_pkey"
DETAIL:  Key (company_name, address)=(Rousseaux, Michael Esq, 56 E Morehead St) already exists.

[SQL: INSERT INTO company VALUES('Rousseaux, Michael Esq','56 E Morehead St','Laredo','TX','78045');]
(Background on this error at: https://sqlalche.me/e/14/gkpj)


INSERT INTO company VALUES('Century Communications','73 State Road 434 E','Phoenix','AZ','85013');
(psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "company_pkey"
DETAIL:  Key (company_name, address)=(Century Communications, 73 State Road 434 E) already exists.

[SQL: INSERT INTO company VALUES('Century Communications','73 State Road 434 E','Phoenix','AZ','85013');]
(Background on this error at: https://sqlalche.me/e/14/gkpj)


INSERT INTO company VALUES('Bolton, Wilbur Esq','69734 E Carrillo St','Mc Minnville','TN','37110');
(psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "company_pkey"
DETAIL:  Key (company_name, address)=(Bolton, Wilbur Esq, 69734 E Carrillo St) already exists.

[SQL: INSERT INTO company VALUES('Bolton, Wilbur Esq','69734 E Carrillo St','Mc Minnville','TN','37110');]
(Background on this error at: https://sqlalche.me/e/14/gkpj)


INSERT INTO company VALUES('T M Byxbee Company Pc','322 New Horizon Blvd','Milwaukee','WI','53207');
(psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "company_pkey"
DETAIL:  Key (company_name, address)=(T M Byxbee Company Pc, 322 New Horizon Blvd) already exists.

[SQL: INSERT INTO company VALUES('T M Byxbee Company Pc','322 New Horizon Blvd','Milwaukee','WI','53207');]
(Background on this error at: https://sqlalche.me/e/14/gkpj)


INSERT INTO company VALUES('Farmers Insurance Group','1 State Route 27','Taylor','MI','48180');
(psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "company_pkey"
DETAIL:  Key (company_name, address)=(Farmers Insurance Group, 1 State Route 27) already exists.

[SQL: INSERT INTO company VALUES('Farmers Insurance Group','1 State Route 27','Taylor','MI','48180');]
(Background on this error at: https://sqlalche.me/e/14/gkpj)


INSERT INTO company VALUES('Post Box Services Plus','394 Manchester Blvd','Rockford','IL','61109');
(psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "company_pkey"
DETAIL:  Key (company_name, address)=(Post Box Services Plus, 394 Manchester Blvd) already exists.

[SQL: INSERT INTO company VALUES('Post Box Services Plus','394 Manchester Blvd','Rockford','IL','61109');]
(Background on this error at: https://sqlalche.me/e/14/gkpj)


INSERT INTO company VALUES('Sport En Art','6 S 33rd St','Aston','PA','19014');
(psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "company_pkey"
DETAIL:  Key (company_name, address)=(Sport En Art, 6 S 33rd St) already exists.

[SQL: INSERT INTO company VALUES('Sport En Art','6 S 33rd St','Aston','PA','19014');]
(Background on this error at: https://sqlalche.me/e/14/gkpj)


INSERT INTO company VALUES('C 4 Network Inc','6 Greenleaf Ave','San Jose','CA','95111');
(psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "company_pkey"
DETAIL:  Key (company_name, address)=(C 4 Network Inc, 6 Greenleaf Ave) already exists.

[SQL: INSERT INTO company VALUES('C 4 Network Inc','6 Greenleaf Ave','San Jose','CA','95111');]
(Background on this error at: https://sqlalche.me/e/14/gkpj)


INSERT INTO company VALUES('C 4 Network Inc','6 Greenleaf Ave','San Jose','CA','95111');
(psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "company_pkey"
DETAIL:  Key (company_name, address)=(C 4 Network Inc, 6 Greenleaf Ave) already exists.

[SQL: INSERT INTO company VALUES('C 4 Network Inc','6 Greenleaf Ave','San Jose','CA','95111');]
(Background on this error at: https://sqlalche.me/e/14/gkpj)


INSERT INTO company VALUES('Ingalls, Donald R Esq','618 W Yakima Ave','Irving','TX','75062');
(psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "company_pkey"
DETAIL:  Key (company_name, address)=(Ingalls, Donald R Esq, 618 W Yakima Ave) already exists.

[SQL: INSERT INTO company VALUES('Ingalls, Donald R Esq','618 W Yakima Ave','Irving','TX','75062');]
(Background on this error at: https://sqlalche.me/e/14/gkpj)


INSERT INTO company VALUES('Franklin, Peter L Esq','74 S Westgate St','Albany','NY','12204');
(psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "company_pkey"
DETAIL:  Key (company_name, address)=(Franklin, Peter L Esq, 74 S Westgate St) already exists.

[SQL: INSERT INTO company VALUES('Franklin, Peter L Esq','74 S Westgate St','Albany','NY','12204');]
(Background on this error at: https://sqlalche.me/e/14/gkpj)


INSERT INTO company VALUES('Wtlz Power 107 Fm','3273 State St','Middlesex','NJ','8846');
(psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "company_pkey"
DETAIL:  Key (company_name, address)=(Wtlz Power 107 Fm, 3273 State St) already exists.

[SQL: INSERT INTO company VALUES('Wtlz Power 107 Fm','3273 State St','Middlesex','NJ','8846');]
(Background on this error at: https://sqlalche.me/e/14/gkpj)


INSERT INTO company VALUES('Ledecky, David Esq','1 Central Ave','Stevens Point','WI','54481');
(psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "company_pkey"
DETAIL:  Key (company_name, address)=(Ledecky, David Esq, 1 Central Ave) already exists.

[SQL: INSERT INTO company VALUES('Ledecky, David Esq','1 Central Ave','Stevens Point','WI','54481');]
(Background on this error at: https://sqlalche.me/e/14/gkpj)


INSERT INTO company VALUES('Professional Image Inc','86 Nw 66th St #8673','Shawnee','KS','66218');
(psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "company_pkey"
DETAIL:  Key (company_name, address)=(Professional Image Inc, 86 Nw 66th St #8673) already exists.

[SQL: INSERT INTO company VALUES('Professional Image Inc','86 Nw 66th St #8673','Shawnee','KS','66218');]
(Background on this error at: https://sqlalche.me/e/14/gkpj)


INSERT INTO company VALUES('Sider, Donald C Esq','2 Cedar Ave #84','Easton','MD','21601');
(psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "company_pkey"
DETAIL:  Key (company_name, address)=(Sider, Donald C Esq, 2 Cedar Ave #84) already exists.

[SQL: INSERT INTO company VALUES('Sider, Donald C Esq','2 Cedar Ave #84','Easton','MD','21601');]
(Background on this error at: https://sqlalche.me/e/14/gkpj)


INSERT INTO company VALUES('U Pull It','90991 Thorburn Ave','New York','NY','10011');
(psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "company_pkey"
DETAIL:  Key (company_name, address)=(U Pull It, 90991 Thorburn Ave) already exists.

[SQL: INSERT INTO company VALUES('U Pull It','90991 Thorburn Ave','New York','NY','10011');]
(Background on this error at: https://sqlalche.me/e/14/gkpj)


INSERT INTO company VALUES('Clark, Richard Cpa','386 9th Ave N','Conroe','TX','77301');
(psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "company_pkey"
DETAIL:  Key (company_name, address)=(Clark, Richard Cpa, 386 9th Ave N) already exists.

[SQL: INSERT INTO company VALUES('Clark, Richard Cpa','386 9th Ave N','Conroe','TX','77301');]
(Background on this error at: https://sqlalche.me/e/14/gkpj)


INSERT INTO company VALUES('Clark, Richard Cpa','386 9th Ave N','Conroe','TX','77301');
(psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "company_pkey"
DETAIL:  Key (company_name, address)=(Clark, Richard Cpa, 386 9th Ave N) already exists.

[SQL: INSERT INTO company VALUES('Clark, Richard Cpa','386 9th Ave N','Conroe','TX','77301');]
(Background on this error at: https://sqlalche.me/e/14/gkpj)


INSERT INTO company VALUES('Moskowitz, Barry S','74874 Atlantic Ave','Columbus','OH','43215');
(psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "company_pkey"
DETAIL:  Key (company_name, address)=(Moskowitz, Barry S, 74874 Atlantic Ave) already exists.

[SQL: INSERT INTO company VALUES('Moskowitz, Barry S','74874 Atlantic Ave','Columbus','OH','43215');]
(Background on this error at: https://sqlalche.me/e/14/gkpj)


INSERT INTO company VALUES('Cascade Realty Advisors Inc','366 South Dr','Las Cruces','NM','88011');
(psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "company_pkey"
DETAIL:  Key (company_name, address)=(Cascade Realty Advisors Inc, 366 South Dr) already exists.

[SQL: INSERT INTO company VALUES('Cascade Realty Advisors Inc','366 South Dr','Las Cruces','NM','88011');]
(Background on this error at: https://sqlalche.me/e/14/gkpj)


INSERT INTO company VALUES('Knwz Newsradio','45 E Liberty St','Ridgefield Park','NJ','7660');
(psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "company_pkey"
DETAIL:  Key (company_name, address)=(Knwz Newsradio, 45 E Liberty St) already exists.

[SQL: INSERT INTO company VALUES('Knwz Newsradio','45 E Liberty St','Ridgefield Park','NJ','7660');]
(Background on this error at: https://sqlalche.me/e/14/gkpj)


INSERT INTO company VALUES('Giampetro, Anthony D','4 Ralph Ct','Dunellen','NJ','8812');
(psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "company_pkey"
DETAIL:  Key (company_name, address)=(Giampetro, Anthony D, 4 Ralph Ct) already exists.

[SQL: INSERT INTO company VALUES('Giampetro, Anthony D','4 Ralph Ct','Dunellen','NJ','8812');]
(Background on this error at: https://sqlalche.me/e/14/gkpj)


INSERT INTO company VALUES('Milford Enterprises Inc','2742 Distribution Way','New York','NY','10025');
(psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "company_pkey"
DETAIL:  Key (company_name, address)=(Milford Enterprises Inc, 2742 Distribution Way) already exists.

[SQL: INSERT INTO company VALUES('Milford Enterprises Inc','2742 Distribution Way','New York','NY','10025');]
(Background on this error at: https://sqlalche.me/e/14/gkpj)


INSERT INTO company VALUES('Mosocco, Ronald A','426 Wolf St','Metairie','LA','70002');
(psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "company_pkey"
DETAIL:  Key (company_name, address)=(Mosocco, Ronald A, 426 Wolf St) already exists.

[SQL: INSERT INTO company VALUES('Mosocco, Ronald A','426 Wolf St','Metairie','LA','70002');]
(Background on this error at: https://sqlalche.me/e/14/gkpj)


INSERT INTO company VALUES('Tri State Refueler Co','128 Bransten Rd','New York','NY','10011');
(psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "company_pkey"
DETAIL:  Key (company_name, address)=(Tri State Refueler Co, 128 Bransten Rd) already exists.

[SQL: INSERT INTO company VALUES('Tri State Refueler Co','128 Bransten Rd','New York','NY','10011');]
(Background on this error at: https://sqlalche.me/e/14/gkpj)


INSERT INTO company VALUES('Parkway Company','17 Morena Blvd','Camarillo','CA','93012');
(psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "company_pkey"
DETAIL:  Key (company_name, address)=(Parkway Company, 17 Morena Blvd) already exists.

[SQL: INSERT INTO company VALUES('Parkway Company','17 Morena Blvd','Camarillo','CA','93012');]
(Background on this error at: https://sqlalche.me/e/14/gkpj)


INSERT INTO company VALUES('Fbs Business Finance','775 W 17th St','San Antonio','TX','78204');
(psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "company_pkey"
DETAIL:  Key (company_name, address)=(Fbs Business Finance, 775 W 17th St) already exists.

[SQL: INSERT INTO company VALUES('Fbs Business Finance','775 W 17th St','San Antonio','TX','78204');]
(Background on this error at: https://sqlalche.me/e/14/gkpj)


INSERT INTO company VALUES('Fbs Business Finance','775 W 17th St','San Antonio','TX','78204');
(psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "company_pkey"
DETAIL:  Key (company_name, address)=(Fbs Business Finance, 775 W 17th St) already exists.

[SQL: INSERT INTO company VALUES('Fbs Business Finance','775 W 17th St','San Antonio','TX','78204');]
(Background on this error at: https://sqlalche.me/e/14/gkpj)


INSERT INTO company VALUES('Eder Assocs Consltng Engrs Pc','6980 Dorsett Rd','Abilene','KS','67410');
(psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "company_pkey"
DETAIL:  Key (company_name, address)=(Eder Assocs Consltng Engrs Pc, 6980 Dorsett Rd) already exists.

[SQL: INSERT INTO company VALUES('Eder Assocs Consltng Engrs Pc','6980 Dorsett Rd','Abilene','KS','67410');]
(Background on this error at: https://sqlalche.me/e/14/gkpj)


INSERT INTO company VALUES('Tri M Tool Inc','2881 Lewis Rd','Prineville','OR','97754');
(psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "company_pkey"

In [ ]:
for row in df[department_elements].iterrows():
    try:
        values = ''.join(f"'{str(x)}'," for x in list(row[1].values))[:-1]
        actual_insert_sql = insert_sql.replace('${TABLE_NAME}', 'department').replace('${VALUES_STRING}', values)
        print(actual_insert_sql)
        connection.execute(actual_insert_sql)
    except exc.IntegrityError as e:
        print(e,'\n\n')

In [ ]:
for row in df[employee_elements].iterrows():
    try:
        values = ''.join(f"'{str(x)}'," for x in list(row[1].values))[:-1]
        actual_insert_sql = insert_sql.replace('${TABLE_NAME}', 'employee').replace('${VALUES_STRING}', values)
        print(actual_insert_sql)
        connection.execute(actual_insert_sql)
    except exc.IntegrityError as e:
        print(e,'\n\n')

In [ ]:
for row in df[department_employee].iterrows():
    try:
        values = ''.join(f"'{str(x)}'," for x in list(row[1].values))[:-1]
        actual_insert_sql = insert_sql.replace('${TABLE_NAME}', 'department_employee').replace('${VALUES_STRING}', values)
        print(actual_insert_sql)
        connection.execute(actual_insert_sql)
    except exc.IntegrityError as e:
        print(e,'\n\n')